
platforms/ios/www/js/SportsAPI.js

*.html

platforms/android/assets/www/calendar.html

platforms/ios/USF Athletics/main.m

platforms/ios/www/calendar.html

platforms/ios/www/gymschedule.html

platforms/ios/www/livestats.html

platforms/ios/www/rosterdata.html

platforms/ios/www/rostertype.html

platforms/ios/USF Athletics.xcodeproj/project.xcworkspace/xcuserdata/nicholasbond.xcuserdatad/UserInterfaceState.xcuserstate

platforms/ios/www/calendar.html

platforms/ios/USF Athletics.xcodeproj/project.xcworkspace/xcuserdata/nicholasbond.xcuserdatad/UserInterfaceState.xcuserstate
