
@media (max-width: 1080px){ 
    #headerpic{
		height: 15% !important;
		margin-top:5% !important;
		}
	table{
		margin-top:-3% !important;
		height:480px !important;
		
	}
	#mugshot{
		max-height:230px !important;
	}
	#usf{
		width: 360px;
		margin-top: -5%;
	}
	.agenda .event-links{
		color:white !important;
	}
	
}

